doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background-color: #E0F2F1;', class='p-2')

    main(class='container' style='max-width: 720px')
        div(class='d-flex align-items-center p-3 my-1 bg-info text-white rounded shadow-sm')
            img(class='me-3', src='/images/_08e892dd-9882-4075-894a-84208459af7f.jpg', alt='', width='298', height='298')
            div(class='1h-1')
                h1(class='h3 mb-0 text-dark lh-1') Cloud Computing
                h2(class='h4 mb-0 text-dark lh-1') Assignment 2
                small(class='text-dark') by Asmita De
                br
                small(class='text-dark') 2022EET2094

        block content
    script(src='/js/bootstrap.min.js')
